project:
  type: website
  output-dir: docs

website:
  title: "Abi Romero :)"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      light: sandstone
      dark: slate
    css: styles.css
    toc: true



